$blue-dark: rgb(22, 72, 99);
$blue-medium: rgb(66, 125, 157);
$blue-light: rgb(155, 190, 200);
$blue-very-light: rgb(221, 242, 253);
$yellow-strong: rgb(255, 136, 75);
$yellow-medium: rgb(249, 168, 40);
$yellow-light: rgb(255, 241, 193);
